<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title><%= content_for(:title) || "Stay On Track" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= favicon_link_tag "Favicon.svg", type: "image/svg+xml" %>
    
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<!-- Bootstrap JS Bundle CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">

    <%= link_to "Home", root_path, class: "nav-link text-white me-auto" %>

    <%= link_to "Stay on Track", root_path, class: "navbar-brand text-white fw-bold mx-auto" %>

    <div class ="right-links">
      <% if logged_in? %>
        <%= link_to "User Account", account_path, class: "nav-link text-white ms-auto me-3" %>
        <%= link_to "Log out", logout_path, data: {"turbo-method": :delete }, class: "nav-link text-white" %>
      <% else %>
        <%= link_to "Login", login_path, class: "nav-link text-white ms-auto" %>
      <% end %>
    </div>
  </div>

  <div class="mobile-nav">
    <div class="brand">
      <%= link_to "Stay on Track", root_path, class: "navbar-brand text-white fw-bold" %>
    </div>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <% if logged_in? %>
          <li><%= link_to "User Account", account_path, class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Log out", logout_path, data: { "turbo-method": :delete }, class: "dropdown-item" %></li>
        <% else %>
          <li><%= link_to "Login", login_path, class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </li>
  </div>

</nav>
    <%= yield %>
  </body>
</html>
